<template>
	<div class="form-group">
        <label :for="fieldId">
        	{{ name }}
        	<transition name="fade" mode="out-in">
     			<app-icon 
     				v-if="activated" 
     				:name="iconName" 
     				:class="iconClass"
     				:key="iconName">
     			</app-icon>
        	</transition>	
        </label>
        <input :id="fieldId" type="text" class="form-control" :value="value" @input="onChange">
    </div>
</template>
<script>
	import AppIcon from 'vue-awesome/components/Icon';
	import 'vue-awesome/icons/check-circle';
	import 'vue-awesome/icons/exclamation-circle';

	export default {
		components: {
			AppIcon
		},
		props: ['name', 'value', 'pattern'],
		data(){
			return {
				activated: this.value !== ''
			}
		},
		computed: {
			valid(){
				return this.pattern.test(this.value);
			},
			iconName(){
				return this.valid ? 'check-circle' : 'exclamation-circle';
			},
			iconClass(){
				return this.valid ? 'text-success' : 'text-danger';
			},
			fieldId(){
				return 'app-field-' + Math.random();
			}
		},
		watch: {
			valid(){
				this.emitValid();
			}
		},
		methods: {
			onChange(e){
				this.activated = true;

				this.$emit('input', {
					value: e.target.value
				});
			},
			emitValid(){
				this.$emit('valid', {
					valid: this.valid
				});
			}
		},
		created(){
			this.emitValid();
		}
	};

</script>
<style>
.fade-enter-active{
    animation: shiftIn 0.3s linear;
}

.fade-leave-active{
    animation: shiftOut 0.3s linear;
}

@keyframes shiftIn{
    from{
        opacity: 0;
        transform: rotateY(-90deg);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes shiftOut{
    from{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        transform: rotateY(90deg);
    }
}
</style>