<template>
	<div id="app">
		<div class="container">
			
			<transition name="flip" mode="out-in">
				<div v-if="formDone" key="done">
					<h3 class="text-success">Your data has been sent.</h3>
					<hr>
					<div class="alert alert-success">
						All done!
					</div>
				</div>
				<div v-else  key="form">
					<h3 class="text-success">Please fill out the form</h3>
					<hr>
					<form>
						<b-progress 
							:max="controls.length" 
							:value="fieldsDone" 
							variant="success" 
							show-progress animated>
						</b-progress>
						<hr>
						<div class="row">
							<div class="col-sm-6 col-md-4" v-for="(field, i) in info" :key="i">
								<app-field 
									:name="field.name" 
									:value="field.value" 
									:pattern="field.pattern"
								    :key="i"
								    @input="onChange(i, $event)"
								    @valid="onValid(i, $event)"
								>
								</app-field>
							</div>
						</div>
						<div class="text-right">
							<b-button variant="success"
								:disabled="!formReady"
								size="lg" 
								@click.prevent="onSend"
							>
								Send Data
							</b-button>	
						</div>
					</form>
				</div>
			</transition>
			<b-modal v-model="formConfirmation" 
					 title="Confirm data"
					 @ok="onConfirm"
					 >
				<table class="table table-bordered">
					<tr v-for="(field, i) in info">
						<td>
							<strong>{{ field.name }}</strong>
						</td>
						<td>{{ field.value }}</td>
					</tr>
				</table>
				<template v-slot:modal-footer>
			        <div class="text-right">
			        	<b-button
							variant="outline-danger"
							@click="formConfirmation=false"
							>
							Cancel
						</b-button>
						<b-button
							class="space-left"
							variant="success"
							@click="onConfirm"
							>
							Confirm 
						</b-button>
					</div>
		      	</template>
			</b-modal>
		</div>
	</div>
</template>
<script>
	import AppField from './components/Field.vue';
	import { BModal } from 'bootstrap-vue'
	import { BProgress } from 'bootstrap-vue'
	import { BButton } from 'bootstrap-vue'

	export default {
		components: {
			AppField,
			BProgress,
			BModal,
			BButton
		},
		data(){
			return {
				formConfirmation: false,
				formDone: false,
				info: [
					{
						name: 'Login',
						value: '',
						pattern: /^[a-zA-Z ]{6,30}$/
					},
					{
						name: 'Phone',
						value: '',
						pattern: /^[0-9]{7,14}$/
					},
					{
						name: 'Email',
						value: '',
						pattern: /^[a-z0-9]+([-._][a-z0-9]+)*@([a-z0-9]+(-[a-z0-9]+)*\.)+[a-z]{2,4}$/
					},
					{
						name: 'First Name',
						value: '',
						pattern: /^[a-zA-Z ]{2,30}$/
					},
					{
						name: 'Last Name',
						value: '',
						pattern: /^[a-zA-Z ]{2,30}$/
					}
				],
				controls: [],
				steps: 1
			};
		},
		created(){
			this.controls = this.info.map(() => {
				return {
					valid: false
				}
			});
		},
		methods: {
			onChange(ind, data){
				this.info[ind].value = data.value.trim();
			},
			onValid(ind, data){
				this.controls[ind].valid = data.valid;
			},
			onSend(){
				if(this.formReady){
					this.formConfirmation = true;
				}
			},
			onConfirm(){
				this.formConfirmation = false;
				this.formDone = true;
			}
		},
		computed: {
			fieldsDone(){
				return this.controls.reduce((total, elem) => {
					return total + (elem.valid ? 1 : 0);
				}, 0);
			},
			formReady(){
				return this.fieldsDone === this.controls.length
			}
		}
	};

</script>
<style>
#app{
	margin: 30px 0;
}
.space-left{
	margin-left: 5px;
}
.flip-enter-active{
    animation: flipIn 0.5s linear;
}

.flip-leave-active{
    animation: flipOut 0.5s linear;
}

@keyframes flipIn{
    from{
        transform: rotateY(-90deg);
    }
    to{
        transform: rotateY(0deg);
    }
}

@keyframes flipOut{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(90deg);
    }
}
</style>